@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Lora:600,var(--display-1-56px-semibold-font-weight),var(--display-2-48px-semibold-font-weight)|Poppins:600|Ubuntu:var(--subheading-20px-medium-font-weight),var(--subheading-20px-semibold-font-weight),var(--paragraph-2-14px-regular-font-weight),var(--label-1-12px-regular-font-weight),var(--label-2-10px-regular-font-weight),var(--paragraph-2-14px-medium-font-weight),var(--paragraph-1-16px-semibold-font-weight),var(--paragraph-1-16px-regular-font-weight)");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}