:root {
  --primary-900: rgba(107, 25, 21, 1);
  --primary-700: rgba(161, 75, 56, 1);
  --primary-500: rgba(224, 147, 112, 1);
  --primary-300: rgba(245, 204, 171, 1);
  --primary-200: rgba(251, 227, 201, 1);
  --primary-100: rgba(253, 242, 228, 1);
  --secondary-900: rgba(21, 57, 107, 1);
  --secondary-700: rgba(56, 114, 161, 1);
  --secondary-500: rgba(112, 189, 224, 1);
  --secondary-300: rgba(171, 232, 245, 1);
  --secondary-200: rgba(201, 246, 251, 1);
  --secondary-100: rgba(228, 252, 253, 1);
  --neutral-900: rgba(18, 7, 11, 1);
  --neutral-700: rgba(27, 19, 20, 1);
  --neutral-500: rgba(38, 38, 38, 1);
  --neutral-300: rgba(189, 189, 189, 1);
  --neutral-200: rgba(233, 233, 233, 1);
  --neutral-100: rgba(244, 244, 244, 1);
  --background-900: rgba(230, 230, 230, 1);
  --background-700: rgba(235, 235, 235, 1);
  --background-500: rgba(238, 238, 238, 1);
  --background-300: rgba(243, 243, 243, 1);
  --background-200: rgba(248, 248, 248, 1);
  --background-100: rgba(253, 253, 253, 1);
  --success-900: rgba(9, 90, 60, 1);
  --success-700: rgba(24, 135, 73, 1);
  --success-500: rgba(49, 188, 83, 1);
  --success-300: rgba(130, 234, 136, 1);
  --success-200: rgba(178, 248, 174, 1);
  --success-100: rgba(219, 251, 214, 1);
  --info-900: rgba(16, 42, 122, 1);
  --info-700: rgba(42, 89, 183, 1);
  --info-500: rgba(126, 185, 255, 1);
  --info-300: rgba(152, 203, 255, 1);
  --info-200: rgba(186, 223, 255, 1);
  --info-100: rgba(220, 240, 255, 1);
  --warning-900: rgba(122, 78, 11, 1);
  --warning-700: rgba(183, 131, 30, 1);
  --warning-500: rgba(255, 200, 61, 1);
  --warning-300: rgba(255, 228, 138, 1);
  --warning-200: rgba(255, 239, 177, 1);
  --warning-100: rgba(255, 248, 216, 1);
  --danger-900: rgba(122, 9, 34, 1);
  --danger-700: rgba(183, 24, 33, 1);
  --danger-500: rgba(255, 69, 48, 1);
  --danger-300: rgba(255, 163, 130, 1);
  --danger-200: rgba(255, 200, 172, 1);
  --danger-100: rgba(255, 231, 213, 1);
  --label-2-10px-semibold-font-family: "Ubuntu", Helvetica;
  --label-2-10px-semibold-font-weight: 700;
  --label-2-10px-semibold-font-size: 10px;
  --label-2-10px-semibold-letter-spacing: 0px;
  --label-2-10px-semibold-line-height: 139.9999976158142%;
  --label-2-10px-semibold-font-style: normal;
  --label-2-10px-medium-font-family: "Ubuntu", Helvetica;
  --label-2-10px-medium-font-weight: 500;
  --label-2-10px-medium-font-size: 10px;
  --label-2-10px-medium-letter-spacing: 0px;
  --label-2-10px-medium-line-height: normal;
  --label-2-10px-medium-font-style: normal;
  --label-2-10px-regular-font-family: "Ubuntu", Helvetica;
  --label-2-10px-regular-font-weight: 400;
  --label-2-10px-regular-font-size: 10px;
  --label-2-10px-regular-letter-spacing: 0px;
  --label-2-10px-regular-line-height: normal;
  --label-2-10px-regular-font-style: normal;
  --label-1-12px-semibold-font-family: "Ubuntu", Helvetica;
  --label-1-12px-semibold-font-weight: 700;
  --label-1-12px-semibold-font-size: 12px;
  --label-1-12px-semibold-letter-spacing: 0px;
  --label-1-12px-semibold-line-height: 139.9999976158142%;
  --label-1-12px-semibold-font-style: normal;
  --label-1-12px-medium-font-family: "Ubuntu", Helvetica;
  --label-1-12px-medium-font-weight: 500;
  --label-1-12px-medium-font-size: 12px;
  --label-1-12px-medium-letter-spacing: 0px;
  --label-1-12px-medium-line-height: 139.9999976158142%;
  --label-1-12px-medium-font-style: normal;
  --label-1-12px-regular-font-family: "Ubuntu", Helvetica;
  --label-1-12px-regular-font-weight: 400;
  --label-1-12px-regular-font-size: 12px;
  --label-1-12px-regular-letter-spacing: 0px;
  --label-1-12px-regular-line-height: 139.9999976158142%;
  --label-1-12px-regular-font-style: normal;
  --paragraph-2-14px-semibold-font-family: "Ubuntu", Helvetica;
  --paragraph-2-14px-semibold-font-weight: 700;
  --paragraph-2-14px-semibold-font-size: 14px;
  --paragraph-2-14px-semibold-letter-spacing: 0px;
  --paragraph-2-14px-semibold-line-height: 139.9999976158142%;
  --paragraph-2-14px-semibold-font-style: normal;
  --paragraph-2-14px-medium-font-family: "Ubuntu", Helvetica;
  --paragraph-2-14px-medium-font-weight: 500;
  --paragraph-2-14px-medium-font-size: 14px;
  --paragraph-2-14px-medium-letter-spacing: 0px;
  --paragraph-2-14px-medium-line-height: 139.9999976158142%;
  --paragraph-2-14px-medium-font-style: normal;
  --paragraph-2-14px-regular-font-family: "Ubuntu", Helvetica;
  --paragraph-2-14px-regular-font-weight: 400;
  --paragraph-2-14px-regular-font-size: 14px;
  --paragraph-2-14px-regular-letter-spacing: 0px;
  --paragraph-2-14px-regular-line-height: 139.9999976158142%;
  --paragraph-2-14px-regular-font-style: normal;
  --paragraph-1-16px-semibold-font-family: "Ubuntu", Helvetica;
  --paragraph-1-16px-semibold-font-weight: 700;
  --paragraph-1-16px-semibold-font-size: 16px;
  --paragraph-1-16px-semibold-letter-spacing: 0px;
  --paragraph-1-16px-semibold-line-height: 139.9999976158142%;
  --paragraph-1-16px-semibold-font-style: normal;
  --paragraph-1-16px-medium-font-family: "Ubuntu", Helvetica;
  --paragraph-1-16px-medium-font-weight: 500;
  --paragraph-1-16px-medium-font-size: 16px;
  --paragraph-1-16px-medium-letter-spacing: 0px;
  --paragraph-1-16px-medium-line-height: 139.9999976158142%;
  --paragraph-1-16px-medium-font-style: normal;
  --paragraph-1-16px-regular-font-family: "Ubuntu", Helvetica;
  --paragraph-1-16px-regular-font-weight: 400;
  --paragraph-1-16px-regular-font-size: 16px;
  --paragraph-1-16px-regular-letter-spacing: 0px;
  --paragraph-1-16px-regular-line-height: 139.9999976158142%;
  --paragraph-1-16px-regular-font-style: normal;
  --subheading-20px-semibold-font-family: "Ubuntu", Helvetica;
  --subheading-20px-semibold-font-weight: 700;
  --subheading-20px-semibold-font-size: 20px;
  --subheading-20px-semibold-letter-spacing: 0px;
  --subheading-20px-semibold-line-height: 139.9999976158142%;
  --subheading-20px-semibold-font-style: normal;
  --subheading-20px-medium-font-family: "Ubuntu", Helvetica;
  --subheading-20px-medium-font-weight: 500;
  --subheading-20px-medium-font-size: 20px;
  --subheading-20px-medium-letter-spacing: 0px;
  --subheading-20px-medium-line-height: 139.9999976158142%;
  --subheading-20px-medium-font-style: normal;
  --subheading-20px-regular-font-family: "Ubuntu", Helvetica;
  --subheading-20px-regular-font-weight: 400;
  --subheading-20px-regular-font-size: 20px;
  --subheading-20px-regular-letter-spacing: 0px;
  --subheading-20px-regular-line-height: 139.9999976158142%;
  --subheading-20px-regular-font-style: normal;
  --heading-4-24px-semibold-font-family: "Lora", Helvetica;
  --heading-4-24px-semibold-font-weight: 600;
  --heading-4-24px-semibold-font-size: 24px;
  --heading-4-24px-semibold-letter-spacing: 0px;
  --heading-4-24px-semibold-line-height: 120.00000476837158%;
  --heading-4-24px-semibold-font-style: normal;
  --heading-4-24px-medium-font-family: "Lora", Helvetica;
  --heading-4-24px-medium-font-weight: 500;
  --heading-4-24px-medium-font-size: 24px;
  --heading-4-24px-medium-letter-spacing: 0px;
  --heading-4-24px-medium-line-height: 120.00000476837158%;
  --heading-4-24px-medium-font-style: normal;
  --heading-4-24px-regular-font-family: "Lora", Helvetica;
  --heading-4-24px-regular-font-weight: 400;
  --heading-4-24px-regular-font-size: 24px;
  --heading-4-24px-regular-letter-spacing: 0px;
  --heading-4-24px-regular-line-height: 120.00000476837158%;
  --heading-4-24px-regular-font-style: normal;
  --heading-3-28px-semibold-font-family: "Lora", Helvetica;
  --heading-3-28px-semibold-font-weight: 600;
  --heading-3-28px-semibold-font-size: 28px;
  --heading-3-28px-semibold-letter-spacing: 0px;
  --heading-3-28px-semibold-line-height: 120.00000476837158%;
  --heading-3-28px-semibold-font-style: normal;
  --heading-3-28px-medium-font-family: "Lora", Helvetica;
  --heading-3-28px-medium-font-weight: 500;
  --heading-3-28px-medium-font-size: 28px;
  --heading-3-28px-medium-letter-spacing: 0px;
  --heading-3-28px-medium-line-height: 120.00000476837158%;
  --heading-3-28px-medium-font-style: normal;
  --heading-3-28px-regular-font-family: "Lora", Helvetica;
  --heading-3-28px-regular-font-weight: 400;
  --heading-3-28px-regular-font-size: 28px;
  --heading-3-28px-regular-letter-spacing: 0px;
  --heading-3-28px-regular-line-height: 120.00000476837158%;
  --heading-3-28px-regular-font-style: normal;
  --heading-2-32px-semibold-font-family: "Lora", Helvetica;
  --heading-2-32px-semibold-font-weight: 600;
  --heading-2-32px-semibold-font-size: 32px;
  --heading-2-32px-semibold-letter-spacing: 0px;
  --heading-2-32px-semibold-line-height: 120.00000476837158%;
  --heading-2-32px-semibold-font-style: normal;
  --heading-2-32px-medium-font-family: "Lora", Helvetica;
  --heading-2-32px-medium-font-weight: 500;
  --heading-2-32px-medium-font-size: 32px;
  --heading-2-32px-medium-letter-spacing: 0px;
  --heading-2-32px-medium-line-height: 120.00000476837158%;
  --heading-2-32px-medium-font-style: normal;
  --heading-2-32px-regular-font-family: "Lora", Helvetica;
  --heading-2-32px-regular-font-weight: 400;
  --heading-2-32px-regular-font-size: 32px;
  --heading-2-32px-regular-letter-spacing: 0px;
  --heading-2-32px-regular-line-height: 120.00000476837158%;
  --heading-2-32px-regular-font-style: normal;
  --heading-1-40px-semibold-font-family: "Lora", Helvetica;
  --heading-1-40px-semibold-font-weight: 600;
  --heading-1-40px-semibold-font-size: 40px;
  --heading-1-40px-semibold-letter-spacing: 0px;
  --heading-1-40px-semibold-line-height: 110.00000238418579%;
  --heading-1-40px-semibold-font-style: normal;
  --heading-1-40px-medium-font-family: "Lora", Helvetica;
  --heading-1-40px-medium-font-weight: 500;
  --heading-1-40px-medium-font-size: 40px;
  --heading-1-40px-medium-letter-spacing: 0px;
  --heading-1-40px-medium-line-height: 110.00000238418579%;
  --heading-1-40px-medium-font-style: normal;
  --heading-1-40px-regular-font-family: "Lora", Helvetica;
  --heading-1-40px-regular-font-weight: 400;
  --heading-1-40px-regular-font-size: 40px;
  --heading-1-40px-regular-letter-spacing: 0px;
  --heading-1-40px-regular-line-height: 110.00000238418579%;
  --heading-1-40px-regular-font-style: normal;
  --display-2-48px-semibold-font-family: "Lora", Helvetica;
  --display-2-48px-semibold-font-weight: 600;
  --display-2-48px-semibold-font-size: 48px;
  --display-2-48px-semibold-letter-spacing: 0px;
  --display-2-48px-semibold-line-height: 110.00000238418579%;
  --display-2-48px-semibold-font-style: normal;
  --display-2-48px-medium-font-family: "Lora", Helvetica;
  --display-2-48px-medium-font-weight: 500;
  --display-2-48px-medium-font-size: 48px;
  --display-2-48px-medium-letter-spacing: 0px;
  --display-2-48px-medium-line-height: 110.00000238418579%;
  --display-2-48px-medium-font-style: normal;
  --display-2-48px-regular-font-family: "Lora", Helvetica;
  --display-2-48px-regular-font-weight: 400;
  --display-2-48px-regular-font-size: 48px;
  --display-2-48px-regular-letter-spacing: 0px;
  --display-2-48px-regular-line-height: 110.00000238418579%;
  --display-2-48px-regular-font-style: normal;
  --display-1-56px-semibold-font-family: "Lora", Helvetica;
  --display-1-56px-semibold-font-weight: 600;
  --display-1-56px-semibold-font-size: 56px;
  --display-1-56px-semibold-letter-spacing: -1.12px;
  --display-1-56px-semibold-line-height: 110.00000238418579%;
  --display-1-56px-semibold-font-style: normal;
  --display-1-56px-medium-font-family: "Lora", Helvetica;
  --display-1-56px-medium-font-weight: 500;
  --display-1-56px-medium-font-size: 56px;
  --display-1-56px-medium-letter-spacing: -1.12px;
  --display-1-56px-medium-line-height: 110.00000238418579%;
  --display-1-56px-medium-font-style: normal;
  --display-1-56px-regular-font-family: "Lora", Helvetica;
  --display-1-56px-regular-font-weight: 400;
  --display-1-56px-regular-font-size: 56px;
  --display-1-56px-regular-letter-spacing: -1.12px;
  --display-1-56px-regular-line-height: 110.00000238418579%;
  --display-1-56px-regular-font-style: normal;
}
